@tailwind base;
@tailwind components;
@tailwind utilities;

.no-scroll-bar {
  overflow: scroll;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.no-scroll-bar::-webkit-scrollbar {
  display: none;
}
